@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .mtop-1 {
    margin-top: 1rem !important;
  }

  .mtop-2 {
    margin-top: 2rem !important;
  }

  .mtop-3 {
    margin-top: 3rem !important;
  }

  .mleft-1 {
    margin-left: 1rem !important;
  }

  .mleft-2 {
    margin-left: 3rem !important;
  }

  .mleft-3 {
    margin-left: 6rem !important;
  }
}